<div class="card">
	<p>Card Number: <%= @card.number %></p>
	<p>Card Expiration Month: <%= @card.expMonth %></p>
	<p>Card Expiration Year: <%= @card.expYear %></p>
	<p>Card Type: <%= @card.card_type %></p>

	<% link_to("Delete", card_path(@card.id), method: :delete) %>
	<% if @ownership.nil? %>
		<% link_to("Add to my wallet", user_cards_path(card_id: @card.id, user_id: 1), method: :post) %>
	<% else %>
		<% link_to("Remove from my wallet", user_card_path(card_id: @card.id, user_id: 1), method: :delete) %>
	<% end %>

</div>